/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oswald:wght@700&family=Quattrocento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* VARIABLES  */
:root {
  --oswald: "Oswald", sans-serif;
  --quattrocentro: "Quattrocento", serif;
  --cedarville: "Cedarville Cursive", cursive;
  --clr-primary: #3e4e8e;
  --clr-primary-light: #6380e8;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-yellow: yellow;
  --transition: all 0.3 linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

html {
  font-size: 62.5%;
  font-family: var(--quattrocentro);
  scroll-behavior: smooth;
}
body {
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  padding: 2rem;
  text-transform: capitalize;
  font-size: 2rem;
}
li {
  list-style-type: none;
}
img:not:first-child {
  /* width: 100%; */
  display: block;
}

#header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/resize-16576335641086855630backgroundimg.jpg") center/cover
      no-repeat fixed;
}
#header-img {
  width: 50px;
  height: 50px;
  margin: 3rem;

  margin-top: 50px;
}
header {
  display: flex;
  justify-content: space-between;
}

nav {
  margin-top: 40px;
}
ul {
  display: flex;
  justify-content: center;
}

h2 {
  font-family: var(--cedarville);
  font-size: 3.5rem;
  text-transform: capitalize;
  text-align: center;
  margin: 2rem;
}
.iphone,
.mi,
.samsung {
  width: 97vw;
}
.img-title {
  font-size: 2rem;
  font-family: var(--cedarville);
  margin: 1rem;
  text-align: center;
  background: var(--clr-grey-10);
  color: var(--clr-primary);
}

.phones {
  margin-bottom: 5rem;
}

form {
  min-width: 100vw;
  margin: 3rem 15rem;
}

input,
label {
  font-size: 2.5rem;
  font-family: var(--cedarville);
}
